@charset "utf-8";
$GLOBALIMGURL: 'https://res2.owohpet.cn/wx/';

$main-font-color: #474047;
$color-base: #62c4ff;
$text-like: #62c4ff;
$font-color: #fff;
$color-hover: lighten($color-base, 10%);
$color-focus: darken($color-base, 10%);

$bg-color: #f5f5f5;
$color-sub: #ff5339;
